@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img src="~/images/DZP.png" asp-append-version="true" style="max-width: 65%; max-height: 65%">
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <h1 class="display-4">Coming soon...</h1>
    </div>
