@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@*<p>Use this page to detail your site's privacy policy.</p>*@
<p>my dude, ques tu fait ici? j'tai dit que c'est coming soon!</p>
